* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: grid;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(to bottom,  #000000af,  #00000044);
    background-attachment: fixed;

    & .container {
        display: grid;
        background-color: rgba(0, 0, 0, 0.055);
        justify-content: center;
        align-items: center;
        width: 24rem;
        padding: 2rem;
        gap: 1rem;

        & a {
            background-color: black;
            color: aliceblue;
            width: 100%;
            padding: 1rem;
            border-radius: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
}